/* form.input {
    color: black;
} */

.form-data {
    display: flex;
    flex-direction: column;
    /* color: red */
    /* align-items: center; */
}

.input-box {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px #b3b3b3 solid;
    background-color: rgb(19, 17, 17);
    color: white;
    border-radius: 2px;
    font-size: 16px;
    height: 22px;
    /* 
    margin-left: 10px;
    */
    padding: 10px 3px 10px 10px;

}


.name-inputs:hover {
    border: 1px solid white;
}

#submit_button {
    color: black;
    background-color: #077b03;
    border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 350px;
    height: 50px;
    align-self: center;
}

#submit_button:hover {
    font-size: 22px;
}


.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.create-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    padding: 20px 30px;
    gap: 20px;

}
