.delete-song-modal {
    padding: 35px;
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
}

.confirmation-header {
    font-size: 22px;
    color: white;
}


.confirmation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
}

.delete-button,
.cancel-button {
    border-radius: 25px;
    background-color: var(--green-color);
    padding: 12px 30px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.delete-button:hover,
.cancel-button:hover {
    font-weight: 800;
    transform: scale(1.02);
}
