#update_form_cancel_button {
    color: black;
    background-color: #077b03;
    border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 350px;
    height: 50px;
    align-self: center;
}

#update_form_cancel_button:hover {
    font-size: 22px;
}
