.image-section {
    background-image: linear-gradient(rgb(56, 56, 56), 1%, #121212);
    /* min-height: 1000px; */
}

.manage-album-cover-img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}


.album-list-section.image-section {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #3e3d3d;
    color: #b3b3b3;
    font-size: 18px;
    margin-left: 0px;
    padding: 0px;
    padding-top: 10px;
    ;
    column-gap: 0;
    row-gap: 1vw;
}

.albums-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.albums-coverimg-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manage-album-upload-button {
    align-self: flex-end;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.manage-album-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    height: 55px;
    padding: 5px;
    /* border: 1px solid grey; */

}

.manage-album-btn button a {
    color: black;
}

.manage-album-btn button {
    background-color: white;
    color: black;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    height: 21px;
}

.manage-album-upload-button button {
    cursor: pointer;
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 28px;
    border: 0px;
    background-color: #09090900;
    margin-right: 5px;
}

.manage-songs-duration {
    display: flex;
    column-gap: 15px;
}

.album-list-section .dropdown-icon {
    margin-left: 6px;
}


@media (max-width: 500px) {
    .manage-album-cover-img {
        height: 120px;
        width: 120px;
        border-radius: 10px;
    }

    .manage-song-title {
        font-size: 24px;
        padding: 0;
    }

    .albums-header {
        flex-direction: column;
        padding: 10px;
    }

    .albums-coverimg-title-container {
        flex-direction: column;
        align-items: center;
    }

    .manage-album-upload-button {
        margin-top: 10px;
        align-items: center;
    }

    .album-list-section.image-section {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 5px;
        row-gap: 10px;
        column-gap: 10px;
    }

    .manage-album-upload-button button {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
}
