.deleteAlbumModal-container {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(27, 63, 27); */
    color: white
}

.deleteAlbumModal-container > button {
    padding: 10px 0px;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
}

.deleteAlbumModal-yes-button {
    /* background-color: rgb(241, 108, 108); */
    background-color: rgb(7, 163, 7);
    border: none;
    color: black;
    /* box-shadow: 2px 2px 2px gray; */
    cursor: pointer;
}

.deleteAlbumModal-no-button {
    background-color: rgb(202, 198, 198);
    border: none;
    color: black;
    /* box-shadow: 2px 2px 2px gray; */
    cursor: pointer;
}