.song-list-row {
    width: 100%;
    display: grid;
    grid-template-columns: 25px 1.8fr 1.2fr 0.5fr 1fr;
    align-items: center;
    column-gap: 15px;
  }

.search-song-h3 {
  margin-left: 10px;
}

