#remove-songs-modal-number-name-div {
    /* border: 2px palevioletred solid; */
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.remove-songs-modal-container {
    padding: 20px;
    min-width: 300px;
}

#remove-songs-modal-title-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
    width: 100%;
    /* border: 2px green solid; */
}

#remove-songs-modal-song-list-title {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.remove-songs-modal-button-container {
    /* border: 2px yellow solid; */
    margin-right: 34px;
    width: 30px;
}

.remove-songs-modal-button-container > button {
    background-color: var(--green-color);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 2px 5px;
}

.remove-songs-modal-button-container > button:hover {
    cursor: pointer;
    font-weight: bold;
}
