.dropdown-list,
.dropdown-icon {
    cursor: pointer;
    margin-left: 8px;
}

.dropdown-icon {
    position: relative;
}

.dropdown-icon-container {
    position: relative;
}

.dropdown-list {
    margin-left: 20px
}

.manage-song-dropdown {
    color: white;
    right: 10px;
    /* border: solid 1px rgb(200, 200, 200); */
    width: 230px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    /* overflow: visible; */
    position: absolute;
    top: 0;
    left: 0px;
    /* box-shadow: 1px 1px 1px rgb(200, 200, 200); */
    /* z-index: 4; */
}

.assigned-album {
    color: grey;
}

.assigned-album:hover {
    cursor: default;
}
