/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --green-color: rgb(30, 215, 96);
  --black-color: rgb(25, 20, 20);
  --light-black-color: rgb(48, 43, 43);
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  background-color: black;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-container {
  margin-top: 30px;
  padding-top: 15px;
  border-top: px solid grey;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 15px;
}

.page-player-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: auto;
  background-color: black;
}

.page-container {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  column-gap: 10px;
  padding: 10px;
  width: calc(100vw - 20px);
  padding-bottom: 10px;
}

.sidebar-container {
  width: 20px
    /* display: flex;
  flex-direction: column;
  row-gap: 10px; */
    /* border: 1px solid white; */
    /* margin-left:10px; */
}

.nav-container {
  background: var(--light-black-color);
  background-color: #121212;
  width: calc(400px - 20px);
  border-radius: 8px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  padding: 15px;
}

.library-container {
  background: var(--light-black-color);
  background-color: #121212;
  width: calc(400px - 20px);
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.playlist-list {
  background-color: rgb(70, 67, 67);
  border-radius: 8px;
  min-height: 120px;
  padding: 15px;
}

.song-album-list-container {
  width: calc(100vw - 430px);
  min-height: calc(100vh - 20px);
  background: var(--light-black-color);
  border-radius: 8px;
  /* margin-right: 10px; */
}

.title-bar {
  background-color: var(--black-color);
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-right: 30px;
}

.title-bar>.modal-btn:first-child {
  color: grey;
  width: 100px;
  font-size: 15px;
  background-color: var(--black-color);
  font-weight: 800;
  border: none
}


.title-bar>.modal-btn:last-child {
  color: black;
  width: 100px;
  height: 44px;
  font-weight: 800;
  font-size: 15px;
  background-color: white;
  border-radius: 25px;
  border: none
}

.title-bar>.modal-btn:hover {
  font-size: 16px;
}

.page-bottom-container {
  width: 100vw;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: black;
}
