/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --green-color: rgb(30, 215, 96);
  --black-color: rgb(25, 20, 20);
  --light-black-color: rgb(48, 43, 43);
  --error-red-color: #f15e6c;
}

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  background-color: black;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contributors {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.footer-container {
  margin-top: 30px;
  padding-top: 15px;
  border-top: px solid grey;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 15px;
}

.layout-links {
  padding-left: 10px;
  font-size: 18px;
  color: white;
}

.page-player-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  padding: 10px 0px 0px 0px;
}

.page-container {
  display: flex;
  align-items: flex-start;
  /* flex-direction: column; */
  justify-content: space-between;
  column-gap: 0px;
  /* padding: 10px; */
  width: calc(100% - 20px);
  padding-bottom: 10px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  /* padding-bottom: 10px; */
}

.sidebar-container {
  width: 400px;
  /* display: flex;
  flex-direction: column;
  row-gap: 10px; */
  /* border: 1px solid white; */
  /* margin-left:10px; */
  row-gap: 10px;
  position: sticky;
  top: 10px;
  left: 0px;
  /* border: 1px solid white; */
  /* margin-left:10px; */

}

.nav-container {
  background: var(--light-black-color);
  background-color: #121212;
  width: 380px;
  border-radius: 8px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  /* padding: 15px; */
  z-index: 1;
}

.library-container {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  width: calc(400px - 20px);
  min-height: calc(100vh - 235px);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.github-section {
  color: rgb(0, 0, 0);
  background-color: rgba(196, 196, 196, 0.757);
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.github-title {
  font-weight: bold;
}

.author-name {
  color: rgb(0, 0, 0)
}

.page-bottom-noplayer {
  background: linear-gradient(90deg, rgb(4, 92, 16), rgb(152, 32, 250));
  /* background-color: red; */
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-list {
  background-color: var(--light-black-color);
  border-radius: 8px;
  min-height: 120px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.playlist-list>button{
  width: 200px;
  align-self: center;
  height: 30px;
  border-radius: 15px;
}

.playlist-list>button:hover{
  cursor: pointer;
}

.library-container a:hover{
  color: var(--green-color);
}

.library-title {
  font-weight: bold;
  font-size: 20px;
}

.song-album-list-container {
  width: calc(100% - 410px);
  min-height: calc(100vh - 20px);
  background: var(--light-black-color);
  border-radius: 10px;
  height: auto;
  position: static;
  left: -200px;
  /* margin-right: 10px; */
}

.title-bar {
  background-color: var(--black-color);
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-right: 30px;

}

.profile-btn-container>.modal-btn:first-child {
  color: grey;
  width: 100px;
  font-size: 15px;
  background-color: #121212;
  font-weight: 800;
  border: none
}


.profile-btn-container>.modal-btn:last-child {
  color: black;
  width: 100px;
  height: 44px;
  font-weight: 800;
  font-size: 15px;
  background-color: white;
  border-radius: 25px;
  border: none
}

.title-bar>.modal-btn:hover {
  font-size: 16px;
}

.page-bottom-container {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: black;
}

.page-bottom-signup {
  background: linear-gradient(90deg, rgb(182, 2, 189), rgb(32, 126, 250));
  /* background-color: red; */
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-bottom-signup button.modal-btn {
  color: black;
  width: 100px;
  height: 44px;
  font-weight: 800;
  font-size: 15px;
  background-color: white;
  border-radius: 25px;
  border: none
}

.page-bottom-signup .modal-btn:hover {
  font-size: 16px;
}

.nav-buttons button {
  color: #7a7a7a;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: black;
  margin-right: 15px;
  border-radius: 20px;;
}

.nav-title-bar {

  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #121212;
  padding: 14px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}


@media screen and (max-width: 500px) {
    /* * {
        max-width: 500px;
    } */
    .page-player-container {
        padding: 0px;
    }
    .page-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* flex-direction: column; */
        justify-content: space-between;
        column-gap: 0px;
        /* padding: 10px; */
        width: 100%;
        padding-bottom: 10px;
        position: relative;
        margin: 0px;
        /* padding-bottom: 10px; */
      }

      .sidebar-container {
        width: calc(100% - 20px);
        position: static;
      }
      .nav-container,
      .library-container{
        width: 100%;
      }

      .song-album-list-container {
        width: 100%;
        min-height: calc(100vh - 20px);
        background: var(--light-black-color);
        border-radius: 8px;
        height: auto;
        position: static;

        /* margin-right: 10px; */
      }

      .page-bottom-container {
        width: 100%;
      }

      .song-list-row>a,
      .song-list-row .like-container{
        display: none;
      }

      .song-list-row .duration-col {
        color: rgb(46, 45, 45);
      }

      .rhap_container {
        width: 50px;
        height: 50px;

      }

      .rhap_repeat-button,
      .rhap_time,
      .rhap_progress-container,
      button.rhap_skip-button,
      .rhap_volume-container {
        display: none;
      }



      /* .rhap_controls-section {
          width: 50px;
      } */

      .musicplayer-container {
        width: 50px;
        height: 80px;
        background-color: black;
      }
      .player-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
      }
      /* .player-wrapper {
        width: 50px;
      } */
      .rerender-btn-container {
        display: none;
      }

      .albums-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 0px;

      }

      .albums-container>a{
         width: 100%;
      }

      .album-card-container>.tooltiptext {
        width: 50px;
        display: none;
      }
      .album-card-container {

        height: auto;
        text-decoration: none;
        position: relative;
        /* z-index: 0; */
        /* padding-bottom: 8px;
        margin-bottom: 50px; */
        /* margin-top: 13px; */
        width: 100%;
        padding: 0cm;
      }


      .album-card-container>img {
        object-fit: cover;
        width: calc(100% - 16px);
        /* max-width: 280px; */
        height: calc(99vw / 2 - 16px);
        /* max-height: 280px; */
        border-radius: 10px;
        margin: 8px;

      }

      .album-card-name-artist {
        padding-left: 5px;
      }



}
