.profile-dropdown {
  position: absolute;
}

.search-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-button-songs,
.search-button-albums {
  padding: 3px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}


.logo {
  width: 45px;
  height: 45px
}

a.homepage-logo-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 13px;
  justify-content: flex-start;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  width: 300px;
}

span.logo-title {
  width: 200px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


@media screen and (max-width: 500px) {
  .search-container{
    display: none;
  }
  .nav-container {
    /* border: white 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}