.profile-btn {
  background-color: rgb(255, 100, 55);
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: black;
  border-radius: 25px;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-btn:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 100, 55);
}

.profile-dropdown {
  color: white;
  position: absolute;
  top:55px;
  right: 10px;
  background-color: rgb(22, 22, 22);
  /* border: solid 1px rgb(200, 200, 200); */
  min-width: 150px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  /* box-shadow: 1px 1px 1px rgb(200, 200, 200); */
  /* z-index: 4; */
}

.profile-dropdown>p {
  /* border: solid 1px red; */
  font-size: 15px;;
  margin: 0;
  padding: 5px;
  padding-left: 10px
}

.profile-dropdown>p:hover{
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}

.profile-dropdown>p:last-child {
  border-top: 1px solid rgb(56, 56, 56);
}

p.hello-user:hover{
  cursor:default;
  background-color: rgb(22, 22, 22);
}

.modal-btn:hover {
  cursor: pointer;
}
