.manage-album-dropdown {
    position: absolute;
    top: 0px;
    left: 5px;
    background-color: #282828;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 3px;
    width: 200px;
    z-index:2;
}
